<!-- Botão circular -->
<div class="menu-button" (click)="toggleMenu()" [class.open]="isOpen">
  <span class="line horizontal"></span>
  <span class="line vertical"></span>
</div>

<!-- Menu suspenso -->
<div class="menu-overlay"
     [class.open]="isOpen"
     [class.closed]="!isOpen && wasOpened">
  <nav class="menu-content">
    <a href="#">Home</a>
    <a href="#">Sobre</a>
    <a href="#">Contato</a>
  </nav>


  <!-- Ícones sociais -->
  <div class="menu-socials">
    <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
    <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="#" target="_blank"><i class="fab fa-tiktok"></i></a>
    <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="menu-divider"></div> 
</div>


